/* Your styles go here */
@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "./colors.scss";

body {
  background-color: $ash-gray;

  .content {
    @media (min-width: 768px) {
      margin: 1em;
    }
    .navbar {
      background-color: $light-beige;
      padding: 1em;
      border: 1px solid $charcoal;

      @media (min-width: 992px) {
        padding-left: 8rem;
        padding-right: 8rem;
      }

      .navbar-brand {
        font-family: "Berkshire Swash", serif;
        color: $charcoal;
        font-size: 1.5em; /* Mobile */

        @media (min-width: 768px) {
          font-size: 2em; /* Tablet */
        }

        @media (min-width: 992px) {
          font-size: 2.5em; /* Desktop */
        }
      }
      .navbar-nav {
        display: flex;
        justify-content: flex-end;
        width: 100%;

        .nav-link {
          font-family: "Zilla Slab", serif;
          color: $charcoal;
          font-size: 1em; /* Mobile */

          @media (min-width: 768px) {
            font-size: 1.2em; /* Tablet */
          }

          @media (min-width: 992px) {
            font-size: 1.4em; /* Desktop */
          }

          &.active {
            font-weight: bold;
            text-decoration: underline;
            text-underline-offset: 0.5em;
          }
          &:hover {
            font-weight: bold;
            text-decoration: underline;
            text-underline-offset: 0.5em;
          }
        }
      }
      .navbar-toggler {
        border-color: $charcoal;
      }
      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(47,62,70)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
      }
    }

    .jumbotron {
      position: relative;
      background: url("https://images.unsplash.com/photo-1520376698361-ba5ceb38c35b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
        no-repeat center center;
      background-size: cover;
      color: white;
      height: 400px;
      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(53, 79, 82, 0.75);
        z-index: 1;
      }

      .container {
        position: relative;
        z-index: 2;
        text-align: left;
        padding: 3rem;

        @media (min-width: 992px) {
          padding-left: 8rem;
          padding-right: 8rem;
        }

        h1 {
          font-family: "Berkshire Swash", serif;
          color: white;
          font-size: 1.8em; /* Mobile-first size */

          @media (min-width: 768px) {
            font-size: 2.2em; /* Adjust for tablets */
          }

          @media (min-width: 992px) {
            font-size: 3em; /* Adjust for desktops */
          }
        }

        p {
          font-family: "Zilla Slab", serif;
          color: white;
          margin-bottom: 1em;
          font-size: 1em; /* Mobile-first size */

          @media (min-width: 768px) {
            font-size: 1.1em; /* Adjust for tablets */
          }

          @media (min-width: 992px) {
            font-size: 1.5em; /* Adjust for desktops */
          }
        }
      }
    }

    .problem {
      background-color: $light-beige;
      border: 1px solid $charcoal;
      padding: 2em;

      @media (min-width: 992px) {
        padding-left: 10rem;
        padding-right: 10rem;
      }

      .container {
        margin-top: 1rem;
        h1,
        h2 {
          font-family: "Berkshire Swash", serif;
          color: $charcoal;
        }
        p {
          font-family: "Zilla Slab", serif;
          color: $dark-green;
        }
      }
    }

    .research {
      background-color: $dark-green;
      padding: 2em;

      @media (min-width: 992px) {
        padding-left: 10rem;
        padding-right: 10rem;
      }
      .container {
        img {
          border: 1px solid $light-beige;
          padding: 1rem;
        }
        h2 {
          font-family: "Berkshire Swash", serif;
          color: white;
          margin-block: 1rem;
        }
        h3 {
          margin-top: 0.5rem;
          font-family: "Zilla Slab", serif;
          color: $light-beige;
        }
        p {
          font-family: "Zilla Slab", serif;
          color: $light-beige;
        }
        ul {
          margin-top: 0.5rem;
          font-family: "Zilla Slab", serif;
          color: $light-beige;
        }
      }
    }

    .final-design {
      background-color: $light-beige;
      border: 1px solid $charcoal;
      padding: 2em;

      @media (min-width: 992px) {
        padding-left: 10rem;
        padding-right: 10rem;
      }
      .container {
        h1 {
          font-family: "Berkshire Swash", serif;
          color: $charcoal;
        }
        p {
          font-family: "Zilla Slab", serif;
          color: $dark-green;
        }

        .links {
          text-align: left;
          @media (min-width: 768px) {
            text-align: right;
          }
          .website-link {
            text-decoration: none;
            font-family: "Zilla Slab", serif;
            font-weight: bold;
            color: $dark-green;
            font-size: 1.25rem;
            padding-bottom: 0.25rem;
            border-bottom: 1px solid $dark-green;
            text-align: left;
            &:hover {
              color: $med-green;
              border-bottom: 1px solid $med-green;
            }
          }
          h5 {
            font-family: "Zilla Slab", serif;
            font-weight: bold;
            color: $med-green;
            margin-top: 1rem;
          }
          ul {
            list-style: none;
            padding-left: 0rem;
            li {
              a {
                font-family: "Zilla Slab", serif;
                text-decoration: none;
                color: $med-green;
                border-bottom: 1px solid $med-green;
                &:hover {
                  color: $dark-green;
                  border-bottom: 1px solid $dark-green;
                }
              }
            }
          }
        }
      }
    }

    footer {
      background-color: $charcoal;
      .outline-padding {
        padding: 1em;
      }

      .outline {
        border: 1px solid $light-beige;
        background-color: $charcoal;
        overflow: hidden;
        position: relative;
        padding: 4em;

        @media (min-width: 992px) {
          padding-left: 10rem;
          padding-right: 10rem;
        }

        .home-link {
          color: white;
          text-decoration: none;
          font-size: 0.9em; /* Mobile */

          @media (min-width: 768px) {
            font-size: 0.9em; /* Tablet */
          }

          @media (min-width: 992px) {
            font-size: 1em; /* Desktop */
          }
        }

        .home-caption {
          font-style: normal;
          margin-bottom: 0rem;
          font-size: 0.9em; /* Mobile */

          @media (min-width: 768px) {
            font-size: 1em; /* Tablet */
          }

          @media (min-width: 992px) {
            font-size: 1.15em; /* Desktop */
          }
        }

        .copyright {
          font-style: normal;
          margin-bottom: 0rem;
          font-size: 0.9em;
        }

        .col {
          text-align: center;

          @media (min-width: 768px) {
            text-align: left;
          }
        }

        .links {
          @media (min-width: 992px) {
            padding-left: 6em;
          }
        }

        h1 {
          font-family: "Berkshire Swash", serif;
          color: white;
        }
        h4 {
          font-family: "Zilla Slab", serif;
          color: white;
        }
        ul {
          list-style: none;
          padding-left: 0em;
          display: flex;
          flex-wrap: wrap;
          li {
            font-family: "Zilla Slab", serif;
            font-style: italic;
            color: $light-beige;
            margin-bottom: 0.5em;
            flex: 1 1 100%;
            a {
              text-decoration: none;
              color: $light-beige;
              padding: 0.25em 1em;
              border: 1px solid $light-beige;
              border-radius: 50px;
              display: inline-block;
              transition: background-color 0.3s, color 0.3s;
              width: 100%;
              // text-align: center;

              &:hover {
                background-color: $light-beige;
                color: $charcoal;
              }
            }
          }
        }
      }
    }
  }
}
